@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --category--business:#3742fa;
  --category--food:#F97F51;
  --category--movies:#a55eea;
  --category--music:#ffa502;
  --category--science:#20bf6b;
  --category--gaming:#eb3b5a;


  --facebook--bg-color:#3B5999;
  --google-plus--bg-color:#DD4B39;
  --behanced--bg-color:#0B66FF;
  --vimeo--bg-color:#1AB7EA;
  --youtube--bg-color:#FE2905;

  /* the width for the site container, on mobile */
  --smaller-main-width:calc(100% - 1rem);
}


.site-wrapper {
  position:relative;
  overflow-x:hidden;
  /* height:100vh; */
  /* min-height:100vh; */
  /* overflow-y: scroll; */
  /* height: 100vh; */
}

body {
  /* overflow-x: hidden; */
}



@layer components {
  /*general rules*/
  .outer-width {
    /* change this to 1140px ,then fix the breakpoint negatively effected by it */
    @apply min-[1220px]:w-[1200px] w-[var(--smaller-main-width)];
  }
  
  @media screen and (max-width: 1500px) {
    .outer-spacing {
      @apply px-2;
    }
  }

  .flex-center {
    @apply flex justify-between items-center;
  }
  
  
  /*Form*/
  .form-card {
    @apply w-96 max-[400px]:w-11/12 bg-white border border-gray-200 rounded p-6 flex flex-col my-14 mx-auto;
  }

  .form-input-container {
    @apply flex flex-col mb-4;
  }

  .form-label {
    @apply mb-2 text-slate-600;
  }

  .form-input {
    @apply border border-gray-300 rounded py-1;
  }

  .form-primary-btn {
    @apply bg-black text-white rounded py-2 px-8 my-4 text-lg;
  }

  .form-secondary-btn {
    @apply bg-white text-black rounded py-2 px-8 my-4 text-lg border-solid border-current	border-2 text-center;
  }

  
  /*Dropdown menu*/
  .dropdown-menu-container {
    @apply  min-[321px]:w-[256px] w-full top-[50px] right-[0px] absolute bg-white drop-shadow rounded p-4 ease-in-out duration-150 transition-opacity;
  }

  .dropdown-menu-container--open {
    @apply z-40;
  }

  .dropdown-menu-container--closed {
    @apply -z-40 hidden;
  }

}


.footer-bg--before:before {
  content:"";
  position:absolute;
  background:#000000;
  width:300%;
  left:-100%;
  height:100%;
  top:0%;
  z-index:-1;
}


.footer-top-bit--after:after {
  content:"";
  position:absolute;
  background:#252525;
  width:300%;
  left:-100%;
  height:1px;
  bottom:-0px;
}

.footer-top-bit--after  > * {
  width:33.333333%;
}

@media screen and (max-width: 768px) {
  .footer-top-bit--after  > * {
    width:100%;
  }
}


.categories-items--after:after {
  content:"";
  width:100%;
  background:#252525;
  left:0;
  height:1px;
  position:absolute;
  bottom:-0px;
}






.hero-slider-transition--start {
  z-index: -1;
  opacity: 0;
  transition: z-index 0.30s step-end, opacity 0.30s linear;
}

.hero-slider-transition--current {
  z-index: 1;
  opacity: 1;
  transition: z-index 0.30s step-start, opacity 0.30s linear;
}


.overlay--shown {
  position: absolute; 
  width: 100vw;
  height: 100vh;
  /* top: 0; */
  right:0;
  bottom:0;
  left:50%;
  transform: translateX(-50%);

  background-color: rgba(245, 245, 245, 0.9);
  z-index: 999; 
  opacity: 1;
  /* transition: z-index 0.125s step-end, opacity 0.125s linear; */
  transition: all 0.5s ease;;
}

.overlay--hidden {
  position: absolute; 
  width: 100vw;
  height: 100vh;
  /* top: 0; */
  right:0;
  bottom:0;
  left:50%;
  transform: translateX(-50%);

  background-color: rgba(245, 245, 245, 0.9);
  z-index: -999;
  opacity: 0;
  /* transition: z-index 0.125s step-start, opacity 0.125s linear; */
  transition: all 0.25s ease;;
}



.top-of-the-week--before:before {
  content:"";
  position:absolute;
  background:#FDEEDC;
  width:300%;
  left:-100%;
  height:100%;
  top:0%;
  z-index:-1;
}



.mini-slider--prev {
  transform: translateX(-100%);
}

.mini-slider--current {
  transform: translateX(0%);
  opacity:1;
}

.mini-slider--next {
  transform: translateX(100%);
}








.general-card {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.35s ease-out, transform 0.35s ease-out;
}


.general-card--visible {
  opacity: 1;
  transform: translateY(0);
}